<header>
    <nav>
        <a href="/">idle Tower Defense</a>
        <ul>
            <li><a href="/waves">Waves</a></li>
            <li><a href="/waves/new">Add Wave</a></li>
            <li><a href="/towers">Towers</a></li>
            <li><a href="/towers/new">Add Tower</a></li>
        </ul>
    </nav>
</header>