<label>Insert Wave</label>
<input type="text" name="_id" value="<%= wave._id %>" placeholder="Wave Name">
<input type="text" name="composition" value="<%= wave.composition %>" placeholder="Wave Composition">
<input type="text" name="wave_strength" value="<%= wave.wave_strength %>" placeholder="Wave Strength">

